<footer>

    <div>
        <p><i class="far fa-copyright"></i> Ray Rexx Projects. All Rights Reserved</p>
    </div>

    <div id="page-links">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>


</footer>