<header>
    <h4><a href="/">Codeial</a></h4>

    <div class="header-right-container">
        <% if (locals.user) {%>
            <div>
                <a href="/users/profile">
                    <%= user.name %>
                </a>

                <a href="/users/sign-out">Sign Out</a>


            </div>
                
                

            <% }else { %>

                <div>

                    <a href="/users/sign-in">Sign In</a>

                    <a href="/users/sign-up">Sign Up</a>

                </div>
                    

                <% } %>
    </div>
</header>